{% extends "base.html.twig" %}



    {% block title %}
	SocialMedia -
	{# {{ microPost.id }} #}


{% endblock %}


{% block bread %}
→ Post
{% endblock %}
{% block body %}  
    <div class="container mt-4">

		{# {% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		<h1 class="mt-4">{{ post.title }}</h1>


		<div class="mt-4">
					{{ post.text }}</p>
		</div> #}

		{# <div> 
			<span class="badge bg-primary bg-dark">Créée le
				{{ post.createdAt|date('d/m/Y') }}</span>
		</div> #}

		{{ include('pages/micro_post/_post.html.twig', {post: post}) }}

	</div>

<div class=" container mt-4">
  {% for comment in post.comments %}
    <div class="my-2">
      <div class="d-flex align-items-center">
        <div class="mr-2">
          {# {{ include('shared/_avatar.html.twig', { profile: comment.author.userProfile, size: 8 }) }} #}
        </div>
        <div>
          <div class="font-weight-medium text-dark">
            <a href="#" class="text-decoration-none text-dark">
             author
            </a>
          </div>
          <div class="text-muted">{{ comment.createdAt | date("M j, Y")  }}</div>
        </div>
      </div>
      <div class="d-flex">
        <div class="ml-4 mr-6 pb-12 border {% if not loop.last %}border-light{% else %}border-0{% endif %}"></div>
        <div>{{ comment.text }}</div>
      </div>
    </div>
	<hr>
  {% endfor %}
</div>




{% endblock %}