{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block bread %}
    → Inscription
{% endblock %}

{% block body %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container w-50">
        <h4>Inscription</h4>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <div class="text-gray-500 mb-4 pb-4 border-bottom border-gray-300"></div>
       
        <div class="text-xl mt-4">
            Votre profile
            <div class="text-gray mb-4 pb-4 border-bottom border-gray-300">
                Saisissez d'autres détails (facultatifs) vous concernant. Vous pouvez le faire plus tard.
            </div>
        </div>
     


        {{ include ('pages/settings_profile/_profile_form.html.twig', { form: registrationForm.userProfile }) }}

        <button type="submit" class="btn bg-dark text-white">S'inscrire</button>
        {{ form_end(registrationForm) }}

           <div class="mt-2 text-center text-gray-600 dark:text-gray-400">
        Vous avez déjà un compte ? <a href="{{ path('app_login') }}" class="text-decoration-none text-dark">Se connecter ici</a>
    </div>
    </div>
{% endblock %}
